extends layout

block content
  div.content
    div.call-out
      p This a community driven effort. Please <a href="/run-tests">run some tests</a> to help keep this project going and to learn about assistive technologies along the way.
    div.search-container
      div.live-announcements(aria-live="polite" aria-atomic="true").visually-hidden
      div.search-controls
        form
          div.input
            label(for="feature-search") Find support for a feature
            input(id="feature-search" type="text").search
          div.submit
            button Search
      div.summary-container(tabindex="-1")
      div.search-results
      script(src="/js/search.js")
