extends layout

block content
  div.content
    div.search-container
      div.search-controls
        form
          div.input
            label(for="feature-search") Find support for a feature
            input(id="feature-search" type="text").search
          div.submit
            button Search
      div.summary-container(aria-live="polite" aria-atomic="true" tabindex="-1")
      div.search-results
