extends layout

block content
  div.content
    div.search-container
      div.search-controls
        form
          label(for="feature-search") Find support for a feature
          input(id="feature-search" type="text").search
      div.summary-container(aria-live="polite" tabindex="-1")
      div.search-results
