doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')

    if ga
      | !{ga}

  body
    header
      a(class="skip-nav" href="#main") Skip to main content
      div(class='logo-area')
        div(class='site-title')
          a(href='/') Accessibility Supported
      nav
        ul
          li
            a(href='/tech') Tech
          li
            a(href='/faq') FAQ
          li
            a(href='/contribute') Contribute
          li
            a(href='/learn') Learn
    main(id="main" tabindex="-1")
      div(class='beta-warning')
        p Warning! This is a prototype for feedback purposes only. Data may be inaccurate and/or incomplete. #[a(href="https://github.com/accessibilitysupported/accessibilitysupported/issues/new") Please submit feedback].
      div(class='content-wrapper')
        block content
    footer
      p
        a(href='https://github.com/accessibilitysupported/accessibilitysupported/') Find us on GitHub

