doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class='logo-area')
        div(class='site-title')
          a(href='/') Accessibility Supported
      nav
        ul
          li
            a(href='/tech') Tech
          li
            a(href='/faq') FAQ
          li
            a(href='/about') Contribute
    main
      div(class='beta-warning')
        p Warning! This is a prototype for feedback purposes only. Data may be inaccurate and/or incomplete.
      div(class='content-wrapper')
        block content
    footer
      p This is a work in progress.
      p
        a(href='#') Find us on GitHub

