extends layout
include command-table.mixin.pug

block content
    div.content
        != markdown

        if ATBrowsers.at[at_id].commands
            h2 Commands

            p The following are some common commands.

            if ATBrowsers.at[at_id].modifier_key
                p The default #{ATBrowsers.at[at_id].modifier_key.name} modifier key is set to: #{ATBrowsers.at[at_id].modifier_key.key}

            each command_tag in ATBrowsers.command_tags
                if (command_list_contains_tag(ATBrowsers.at[at_id].commands, command_tag.id))
                    h3 #{command_tag.name}
                    +command-table(ATBrowsers, at_id, command_tag.id, command_list_has_notes(ATBrowsers.at[at_id].commands, command_tag.id))
