extends layout

block content
    div.content
        h1 Technologies
        p Technologies represent different standards such as HTML, CSS, ARIA, and SVG. Each technology can have many features.
        ul
            each technology in tech
                li
                    a(href='/tech/'+technology.id) #{technology.id}
