html {
  background-color: #fafafa;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2f6fad;
}

td.support-case {
  text-align: center;
}

td.support-case.n {
  background-color: #b94a48;
  color: #fff;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #999999;
}

td {
  padding: .2em;
}

th {
    text-align: left;
}

th, td {
    padding: .25em .5em;
}

th {
    background-color: #eee;
}

thead th {
    text-align: center;
}


/* CSS GRID LAYOUT */
.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

main {
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  display: block;
  min-height: 15em;
  background-color: #fff;
  padding-bottom: 1em;
}

header {
  padding-top: .25em;
  background-color: #fafafa;
  border-top: 4px solid #00cc21;
}

.logo-area {
  padding-left: 5.62vw;
  padding-right: 5.62vw;
}

.site-title {
  font-size: 2em;
}

nav {
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  background-color: #efeded;
  color: #fff;
}

nav ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 40em;
  margin-bottom: 0;
}

nav ul li {
  margin: 0;
  padding: .5em;
}

nav ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  display: block
}

@media (min-width: 720px) {
  .content-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:"content sidebar";
  }
}

footer {
  border-top: 2px solid #999999;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
}

.beta-warning {
  background-color: #ffbfbd;
  color: #000;
  width: 100%;
  padding: .5em;
}

.beta-warning a, .beta-warning a:visited {
  color: #00ff;
}

.beta-warning > p {
  margin-top: 0;
  margin-bottom: 0;
}

.current-support-container {
  padding: .5em;
  background-color: #efeded;
  border-radius: .2em;
}

.current-support-container.full-support {
  background-color: #39b54b;
  color: #fff;
}

.current-support-container.no-support {
  background-color: #b94a48;
  color: #fff;
}


.skip-nav {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skip-nav:active,
a.skip-nav:focus,
a.skip-nav:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  background-color: #fff;
  padding:1em;
}

a.back {
  display: block;
  margin-bottom: 1em;
}

p.note {
    background-color: #eee;
    padding: 1em;
}

p .inline-quote {
    font-style: italic;
}

.responsive-table {
  overflow-x: scroll;
}

.search-container {
  margin-top: 1em;
}

.search-container .search-controls label {
  display: block;
}

.search-container .search-controls input.search {
  display: inline-block;
  width: 90%;
  font-size: 2em;
  padding: .25em .5em;
}

.search-results td, .search-results td {
  text-align: center;
}

.search-results th.no-support, .search-results td.no-support {
  background-color: #b94a48;
  color: #fff;
}

.search-results td.full-support {
  background-color: #03A678;
  color: #000;
}

.search-results td.some-support {
  background-color: #e9c906;
  color: #000;
}

.search-results td.mostly-supported {
  background-color: #408fb4;
  color: #000;
}

.search-results td.unknown-support {
  background-color: #e7e7e7;
}